<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="aFileHost // POMF inspired file host">
		<meta property="og:title" content="aFileHost"/>
		<meta property="og:url" content="https://www.afilehost.com"/>
		<meta property="og:description" content="aFileHost // POMF inspired file host"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Account // aFileHost</title>

		<!--Locally Hosted Files-->
		<link rel="stylesheet" href="/styles/global.css">
		<link rel="stylesheet" href="/styles/fix.css">
		<link href="/styles/bootstrap/modal-only.css" rel="stylesheet">
		<script src="/scripts/snackbar.js"></script>
		<script src="/scripts/account/account.js"></script>

		<!--Externally hosted-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="top-nav">
			<a href="/">Home</a>
			<a href="/contact">Contact</a>
			<a href="https://www.patreon.com/Novafox">Patreon</a>

			<div class="dropdown">
				<button class="dropbtn">Account</button>
				<div class="dropdown-content">
					<a th:if="${loggedIn}" href="/account">Account</a>
					<a th:if="${loggedIn}" href="/account/logout">Log out</a>
					<a th:unless="${loggedIn}" href="/account/register">Register</a>
					<a th:unless="${loggedIn}" href="/account/login">Log In</a>
				</div>
			</div>
		</div>

		<div id="content">
			<div th:if="${loggedIn}">
				<h1>My Account</h1>

				<button type="button" data-toggle="modal" data-target="#modal-change-username">Change Username
				</button>
				<button type="button" data-toggle="modal" data-target="#modal-change-email">Change Email
				</button>
				<button type="button" data-toggle="modal" data-target="#modal-change-password">Change Password
				</button>

				<!-- Change username Modal -->
				<div class="modal fade" id="modal-change-username" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Change Username</h4>
							</div>
							<div class="modal-body">
								<form style="text-align: left;" action="javascript:changeUsername()">
									<label>Username
										<br>
										<input type="text" id="change-username-username" required
										       th:value="account.username">
									</label>
									<br>
									<br>
									<label>Password
										<br>
										<input type="password" id="change-username-password" required>
									</label>
									<br>
									<br>

									<input type="submit" class="submit" value="Change Username">
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Change username Modal -->
				<div class="modal fade" id="modal-change-email" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Change Email</h4>
							</div>
							<div class="modal-body">
								<form style="text-align: left;" action="javascript:changeEmail()">
									<label>Email
										<br>
										<input type="email" id="change-email-email" required
										       th:value="account.email">
									</label>
									<br>
									<br>
									<label>Password
										<br>
										<input type="password" id="change-email-password" required>
									</label>
									<br>
									<br>

									<input type="submit" class="submit" value="Change Email">
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Change password form -->
				<div class="modal fade" id="modal-change-password" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Change Password</h4>
							</div>
							<div class="modal-body">
								<form style="text-align: left;" action="javascript:changePassword()">
									<label>Current Password
										<br>
										<input type="password" id="change-password-old-password" required>
									</label>
									<br>
									<br>
									<label>New Password
										<br>
										<input type="password" id="change-password-new-password" required
										       onchange="validatePassword()" onkeyup="validatePassword()" minlength="8">
									</label>
									<br>
									<br>
									<label>Confirm Password
										<br>
										<input type="password" id="change-password-confirm-password" required
										       onchange="validatePassword()" onkeyup="validatePassword()">
									</label>
									<br>
									<br>

									<input type="submit" class="submit" value="Change Password">
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

				<br>
				<hr>
				<br>

				<div id="uploads">
					<h2>Uploads</h2>
				</div>

				<br>
				<hr>
				<br>

				<div id="keys">
					<h2>API Keys</h2>
				</div>
			</div>
		</div>
		<div th:unless="${loggedIn}">
			<h1>Please login to continue</h1>
		</div>

		<div id="snackbar"></div>
	</body>

	<footer id="footer">
		<p><span th:text="'© Nova Maday ' + ${year} + '. All rights reserved.'"></span><span> | </span><a
				href="/policy/privacy">Privacy Policy</a></p>
	</footer>
</html>